@import "tailwindcss";

html, body, #root {
  height: 100%;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

.transcript-text, .transcript-text * {
  user-select: text;
}
